@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: relative;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#root {
  animation: fadeIn 2s ease-in-out;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(10%);
    opacity: 0;
  }
}

.slide-right {
  animation: slideOut 1s ease-in-out;
}
.typing-container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 2em; 
}

.typing-animation {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid currentColor; 
  animation: blink 0.8s step-end infinite; 
  width: 0;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}



.background-container {
     overflow-x: hidden; 
  }
  .circular-progress {
    width: 100px;
    height: 100px;
    position: relative;
    display: inline-block;
  }
  
  .circular-progress svg {
    transform: rotate(-90deg);
  }
  
  .circle-bg {
    stroke-dasharray: 100;
  }
  
  .circle {
    stroke-dasharray: var(--percentage, 0%);
    transition: stroke-dasharray 0.5s ease-in-out, stroke-width 0.5s ease-in-out;  
  }
  
  .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000;
  }
  .slide-up-hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
  }
  
  .slide-up-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }